/****** Object:  Table [dbo].[RoomBooking]    Script Date: 29/04/2026 19:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomBooking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Arrival] [date] NOT NULL,
	[Departure] [date] NOT NULL,
	[RoomId] [int] NOT NULL,
	[BookingReference] [nvarchar](50) NOT NULL,
	[Guests] [int] NOT NULL,
 CONSTRAINT [PK_RoomBooking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
